<app-nav></app-nav>



<div class="container ">
  <div class="row">
    <div id="mensajeResponse" *ngIf="response!=''" class="w-50 mx-auto mt-2 text-start alert alert-warning alert-dismissible fade show "
role="alert">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg>
{{response}}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="response=''"></button>
</div>
    <div class="col-md-6 offset-md-3 bg-light p-3 mb-5">
      <p class="h4">Añadir educación</p>
      <form [formGroup]="formEduAdd">
        <!-- Nombre -->
        <div class="mb-3">
          <label for="titulo" class="form-label">Nombre de título o estudio</label>
          <input type="text" class="form-control" formControlName="titulo" id="titulo" required>
          <div *ngIf="TituloAdd?.errors && TituloAdd?.touched" class="text-danger">
            <p *ngIf="TituloAdd?.hasError('required')">El campo es requerido</p>
          </div>
        </div>

        <!-- Imagen -->
        <div class="mb-3">
          <label for="imagen" class="form-label">Imagen de la institución</label>
          <input type="text" class="form-control" formControlName="imagen" id="imagen" placeholder="Link de la imagen"
            required>
          <div *ngIf="ImagenAdd?.errors && ImagenAdd?.touched" class="text-danger">
            <p *ngIf="ImagenAdd?.hasError('required')">El campo es requerido</p>
          </div>
        </div>

        <!-- Actualmente -->
          <div class="mb-3">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" formControlName="actualmente" id="actualmente"
                #actualmenteCheckAdd  (change)="clearValidatorsIfActualmente()">
              <label for="actualmente" class="form-check-label">Actualmente</label>
            </div>
          </div>

          <!-- Tiempo desde/hasta -->
          <div class="mb-3" *ngIf="!actualmenteCheckAdd.checked">
              <div class="form-group">
                <label for="tiempoDesde" class="form-label">Desde mm/aaaa</label>
                <input type="date" class="form-control" formControlName="tiempoDesde" id="tiempoDesde" #desde
                  (input)="hasta.min=desde.value" required>
                <div *ngIf="TiempoDesdeAdd?.errors && TiempoDesdeAdd?.touched && !ActualmenteAdd">
                  <p *ngIf="TiempoDesdeAdd?.hasError('required')" class="text-danger"> El campo es requerido</p>
                </div>
              </div>

            <div class="form-group">
              <label for="tiempoHasta" class="form-label">Hasta mm/aaaa</label>
              <input type="date" class="form-control" formControlName="tiempoHasta" id="tiempoHasta" #hasta required>
              <div *ngIf="TiempoHastaAdd?.errors && TiempoHastaAdd?.touched  && !ActualmenteAdd">
                <p *ngIf="TiempoHastaAdd?.hasError('required')" class="text-danger"> El campo es requerido</p>
              </div>
            </div>
          </div>


          <!-- Detalle -->
          <div class="mb-3">
            <label for="descripcion" class="form-label">Detalle sobre el título o educación</label>
            <textarea class="form-control" formControlName="descripcion" id="descripcion" rows="5" required></textarea>
            <div *ngIf="DescripcionAdd?.errors && DescripcionAdd?.touched">
              <p *ngIf="DescripcionAdd?.hasError('required')" class="text-danger">El campo es requerido</p>
            </div>
          </div>

          <div *ngIf="trySave">
            <p class="text-danger">Complete los campos requeridos</p>

          </div>
          <!-- Botón Guardar cambios -->
          <div class="d-grid gap-2">
            <button type="button" #saveBtn class="btn btn-primary" (click)="addNewEducation(formEduAdd)"
              data-bs-dismiss="modal">Guardar cambios
              <span *ngIf="loading" class="spinner-border spinner-border-sm ms-2"></span>
            </button>
        </div>
      </form>
    </div>
  </div>
</div>