
.loginbtn{
    background-color: #64ffdbd8;
    color: black
}

.loginbtn:hover{
    transition: color .5s ease-out;
    background-color: #64ffdbfc;
    color: grey;
}

#navContent {
    display: flex;
    justify-content: space-between;
  }
  
  #logo {
    order: 0;

}
  
  ul {
    order: 1; /* Colocar el elemento en el segundo lugar */
  }
  
  #login-section {
    order: 2; /* Colocar el elemento en el tercer lugar */
  }
  

 
  

  @media (max-width: 768px) {
    #nav-links{
      align-items:center;
    }
  }

