<app-nav></app-nav>
  <div id="bodyHeight" >
    <div class="container " id="login-containers"   > <!--data-aos="fade-up"-->
      
      <form action="" method="">
        <div class="form-group w-50 px-5 mx-auto mt-5  pb-2  bg-light border border-dark border-1 ">
          <h5 class=" text-center">Login</h5>
  
          <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
  
          <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
  
          <div class="d-flex justify-content-around">
            <div>
              <div class="custom-control ">
                <input type="checkbox" class="form-check-input border-dark  " id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
              </div>
            </div>
            <div>
              <a href="">Forgot password?</a>
            </div>
          </div>
  
          <button type="submit" id="submitbtn" class="btn  d-block mx-auto mt-2 "> Login </button>
  
        </div>
      </form>
  
    </div>
  </div>

