<div id="skills" class="  mt-5  g-col-8 text-center  mb-5"  >
    <h4 class="h4 text-light mb-5"> Habilidades</h4>

    <div id="skill-content" class="row gx-1 text-center text-light  ">
      <div id="len" class="col-lg-3 col-sm-6    " *ngFor="let categoria of listSkills">
        <label for="" class="mb-2 skill-titles">{{categoria.categoria}}</label>
        <ul class="list-unstyled " >
          <li class=""  *ngFor="let habilidad of categoria.skills" >
            <small class="text-muted"> {{habilidad.skill}} </small></li>
        </ul>
      </div>
    </div>
</div>

<div class="d-flex justify-content-center mb-3" *ngIf="isLogedin()">

  <button class="btn btn-sm d-flex  align-items-center buttonEdit edit" 
  data-bs-toggle="modal" data-bs-target="#editSkills">
  Editar
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil-square" viewBox="0 0 16 16">
    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
  </svg>
</button>
</div>

  <!-- ?finalizado el edit Skill, queda realizar una funcion que guarde los cambios en el componente -->
    <!-- Modal -->
    <div class="modal fade" id="editSkills" tabindex="-1" aria-labelledby="skillsModalLabel" aria-hidden="true" #editSkillModal>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="skillsModalLabel">Editar seccion Habilidades</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="">
              <!-- profile image  -->
              <label for="">Añadir, Editar o Eliminar categoria </label>
              <ul class="list-group">
                <li class="list-group-item  d-flex justify-content-between" *ngFor="let category of auxListSkills; index as i">
                <input type="text" [disabled]="category.disableEditCategoria" name="{{category.categoria}}" [(ngModel)]="category.categoria" value="{{category.categoria}}" >

                <div>
  <!-- edit -->

                <a class="editSectionSVG" *ngIf="category.disableEditCategoria"
                (click)="category.disableEditCategoria=!category.disableEditCategoria; ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill me-1" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                  </svg>
                </a>
                <!--  end edit -->
                <a class="editSectionSVG"  *ngIf="!category.disableEditCategoria"
                (click)="category.disableEditCategoria=!category.disableEditCategoria;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                </svg>
              </a>
  <!-- delete -->
                <a class="editSectionSVG"  (click)="deleteCategory(category)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                  </svg>
                </a>
                </div>



                </li>
              </ul>
              <input type="" class="form-control mb-3" #nuevaCategoria placeholder="nueva categoria">
              <button class="btn btn-success" (click)="createCategory(nuevaCategoria.value); nuevaCategoria.value=''"> añadir categoria </button> <br>

              <label for=""> Añadir, Editar o Eliminar habilidad </label>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label mb-3">seleccione categoria</label>
                  <select name="selectCategorySkill"   class="form-control mb-3" [(ngModel)]="skillSelected">
                   <option *ngFor="let category of auxListSkills">
                    {{category.categoria}}
                   </option>
                  </select>

                  <ul *ngFor="let category of auxListSkills; ">
                    <li
                     *ngIf="category.categoria==skillSelected" >
                      <ul class="list-group" *ngFor="let skill of category.skills">
                        <li class="list-group-item d-flex justify-content-between">
<!-- todo modificar el name para enviar datos al servidor?  -->
                        <input type="text"  [disabled]="skill.disableEditSkill" name="{{skill.skill}}" [(ngModel)]="skill.skill" value="{{skill.skill}}" >
                        <div>
              <!-- edit -->
                            <a class="editSectionSVG" *ngIf="skill.disableEditSkill"
                            (click)="skill.disableEditSkill=!skill.disableEditSkill;">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill me-1" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                              </svg>
                            </a>
                            <!--  end edit -->
                            <a class="editSectionSVG"  *ngIf="!skill.disableEditSkill"
                            (click)="skill.disableEditSkill=!skill.disableEditSkill; skill.editName(skill.skill)"
                             >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                            </svg>
                          </a>
              <!-- delete -->
                            <a class="editSectionSVG"  (click)="category.deleteSkill(skill)">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                              </svg>
                            </a>
                            </div>
                        </li>
                      </ul>
                      <input type="" class="form-control mb-3" #nuevaSkill  placeholder="nueva skill ">
                        <button  (click)="addSkill(category, crearSkill(nuevaSkill.value))"> añadir habilidad a {{skillSelected}} </button>
                    </li>
                  </ul>


                </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" (click)="saveChanges(); " data-bs-dismiss="modal"
              class="btn btn-primary">Guardar cambios</button>
          </div>
        </div>
      </div>
    </div>
